// SPDX-License-Identifier: GPL-2.0
/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include "zynq-fpga.dtsi"

/ {
	model = "Trenz TE0715 board";
	compatible = "digilent,zynq-te0715", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	chosen {
		bootargs = "root=/dev/ram0";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		#phy-cells = <0>;
		compatible = "usb-nop-xceiv";
		reset-gpios = <&gpio0 51 1>;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
		// Marvell 88E1510
		// The LEDs don't work because of a hardware error
		// on the TE0715 module (level translator three-stated
		// permanently)
		// Don't bother to load the driver - it doesn't seem
		// to work reliably (interrupt?)
	//		compatible  = "ethernet-phy-id0141.0dd0";
	//	marvell,reg-init = <3 16 0xfff0 8>, <3 17 0xfffc 1>;
	//	interrupt-parent = <&gpio0>;
	//	interrupts       = <46 8>; // 8: active-low, level
	};
};

&sdhci0 {
	status        = "okay";
	/* broken-cd     = "true"; poll for CD at 1Hz */
	non-removable = "true"; /* no CD              */
	wp-inverted   = "true";
};

&gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio0_default>;
};


&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&i2c0 {
	status = "okay";

    i2c-mux@70 {
		compatible     = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells    = <0>;
		reg            = <0x70>;

/*
		i2c@0 {
			#address-cells = <1>;
			#size-cells    = <0>;
			reg            = <0>;
			si5344@38 {
				reg        = <0x68>;
			};
		};
*/
		/* SFP-2 (1/2 switched for routing reasons) */
		i2c@1 {
			#address-cells = <1>;
			#size-cells    = <0>;
			reg            = <1>;
			
			eeprom@50 {
        		compatible = "atmel,24c02";
				reg        = <0x50>;
                read-only  = "true";
			};
			eeprom@51 {
        		compatible = "atmel,24c02";
				reg        = <0x51>;
                read-only  = "true";
			};
		};
		/* SFP-1 (1/2 switched for routing reasons) */
		i2c@2 {
			#address-cells = <1>;
			#size-cells    = <0>;
			reg            = <2>;

			eeprom@50 {
        		compatible = "atmel,24c02";
				reg        = <0x50>;
                read-only  = "true";
			};
			eeprom@51 {
        		compatible = "atmel,24c02";
				reg        = <0x51>;
                read-only  = "true";
			};
		};
	};

};

&i2c1 {
	status = "okay";

    eeprom@50 {
		/* write-protect for now - MAC address is in there */
        compatible = "atmel,24c02";
        reg        = <0x50>;
        read-only  = "true";
    };

    rtc@6f {
		compatible = "isil,isl12022";
        reg        = <0x6f>;
		interrupt-parent = <&gpio0>;
		interrupts       = <47   8>; // active-low, open drain!
	};

/*
    nvram@57 {
		reg        = <0x57>;
	};
*/

    si5338@70 {
		compatible = "silabs,si5338";
		reg        = <0x70>;
        si5338,in_frequency3  = <25000000>;
	};
};

&pinctrl0 {

	pinctrl_gpio0_default: gpio0-default {
		mux {
			function = "gpio0";
			groups   = "gpio0_7_grp";
		};

		conf {
			groups = "gpio0_7_grp";
			slew-rate   = <0>;
			io-standard = <3>; // 3.3V MIO bank 500
		};

		// User LED (for illustration)
		conf-pull-none {
			pins = "MIO7";
			bias-disable;
		};
	};

	sdhci0_pins: sdhci0_pinctl {
/*
		mux-cd {
			groups = "gpio0_9_grp";
			function = "sdio1_cd";
		};

		conf-cd {
			groups = "gpio0_9_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <3>;
		};
*/

		mux-wp {
			groups = "gpio0_0_grp";
			function = "sdio0_wp";
		};

		conf-wp {
			groups = "gpio0_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <3>;
		};

		mux-gpio-irq-46 {
			groups = "gpio0_46_grp";
			function = "gpio0";
		};

		conf-gpio-irq-46 {
			groups = "gpio0_46_grp";
			io-standard = <1>;
		};

		mux-gpio-irq-47 {
			groups = "gpio0_47_grp";
			function = "gpio0";
		};

		conf-gpio-irq-47 {
			groups = "gpio0_47_grp";
			io-standard = <1>;
			bias-pull-up;
		};
	};
};
