BR2_x86_64=y
BR2_ROOTFS_POST_SCRIPT_ARGS="pc-x86_64"
BR2_TARGET_SYSLINUX=y
BR2_TARGET_SYSLINUX_PXELINUX=y
BR2_TARGET_SYSLINUX_C32="ldlinux.c32"
BR2_PACKAGE_LIBTIRPC=y
BR2_PACKAGE_NFS_UTILS=y
# BR2_PACKAGE_NFS_UTILS_RPCDEBUG is not set
# BR2_PACKAGE_NFS_UTILS_RPC_LOCKD is not set
BR2_PACKAGE_NFS_UTILS_RPC_NFSD=y
# BR2_PACKAGE_NFS_UTILS_RPC_RQUOTAD is not set
BR2_PACKAGE_RPCBIND=y
