BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_FPU_NEON=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="zynq-zc706 zynq-zybo zynq-te0715"
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_UBOOT_TOOLS_MKIMAGE=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_ROOTFS_POST_SCRIPT_ARGS="zynq"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(TOPDIR)/site/linux/dts/zynq-fpga.dtsi $(TOPDIR)/site/linux/dts/zynq-te0715.dts"

