BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON=y
BR2_ARM_EABI=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sun8i-h3-nanopi-neo"
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
# vendor uboot doesn't seem to support fit images
BR2_ROOTFS_POST_IMAGE_SCRIPT=
